<app-header></app-header>
<div class="home-container">
<div class="all-movies">
    <div class="trending-movies">
        <div class="top">
            <h4>trending movies</h4>
            <div class="view-all">view all</div>
        </div>
        <div class="movies-thumbnail">
            <div class="movie" *ngFor="let movie of trendingMovies">
                <div class="cover" (click)="goToMovie('trending',movie.id)">
                    <img [src]="movie.cover" alt="">
                </div>
                <div class="details">
                    <div class="name">{{ movie.name }}</div>
                    <div class="rating">rating : {{movie.rating}}</div>
                </div>
            </div>
        </div>
    </div>

    
    
    <div class="theatre-movies">
        <div class="top">
            <h4>theatre movies</h4>
            <div class="view-all">view all</div>
        </div>
        <div class="movies-thumbnail">
            <div class="movie" *ngFor="let movie of theatreMovies">
                <div class="cover" (click)="goToMovie('trending',movie.id)">
                    <img [src]="movie.cover" alt="">
                </div>
                <div class="details">
                    <div class="name">{{ movie.name }}</div>
                    <div class="rating">rating : {{movie.rating}}</div>
                </div>
            </div>
        </div>
    </div>


<div class="popular-in-movies">
    <div class="top">
        <h4>popular in movies</h4>
        <div class="view-all">view all</div>
    </div>
    <div class="movies-thumbnail">
        <div class="movie" *ngFor="let movie of popularMovies">
            <div class="cover" (click)="goToMovie('trending',movie.id)">
                <img [src]="movie.cover" alt="">
            </div>
            <div class="details">
                <div class="name">{{ movie.name }}</div>
                <div class="rating">rating :{{movie.rating}}</div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="popular-movies">
    <h4>all time popular</h4>
    <div class="movie" *ngFor="let movie of popularMovies">
        <div class="details">
            <div class="name" (click)="goToMovie('trending',movie.id)">{{ movie.name }}</div>
            <div class="rating">rating :{{movie.rating}}</div>
        </div>
    </div>
</div>
</div>